.tile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .piece-image {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;

    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }
}

.btile {
  background-color: #779556;
}

.wtile {
  background-color: #dbecd0;
}
